/* SIDEBAR FULLSCREEN COMEÇO */
.menu {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    width: 20%;
    height: 100%;
    background:rgb(32, 32, 32);
    font-family: 'Arial';
}
.menu ul {
    list-style: none;
    position: relative;
}

.menu a {
    background-color: rgb(32, 32, 32);
    padding: 15px;
    display: block;
    text-decoration: none;
    text-align: left;
    color: #fff;
}
.menu a:hover {
    background-color: #f4f4f4;
    color: #523c9c;
}
.menu ul ul {
    height: 500px;
    position: absolute;
    visibility: hidden;
}
.menu ul li:hover ul {
    visibility: visible;
}
.menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}
.menu ul ul li a {
    background-color: #069;
}
label[for="bt_menu"] {
    color: #fff;
    font-family: 'Arial';
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    /* height: 50px; */
    display: none;
}
#bt_menu {
    display: none;
}
#divlogo{
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 3%;
    justify-content: center;
}
#logo{
    width: 50%;
}
/* SIDEBAR FULLSCREEN FIM */


/* SIDEBAR RESPONSIVO COMEÇO */

@media (max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
        float: left;
        margin-right: 5%;
    }

   .left_area {
       margin: 0;
       width: 100%;
       height: 500px;       
       display: flex;
       justify-content: center;
       text-align: center;
       align-items: center;
    }
   
    #bt_menu:checked ~ .menu {
        margin-left: 0;
        height: 100%;
        display:block;
    }
    .menu {
        display: none;
        position:fixed;
        margin-top: 70px;
        width: 100%;
        height: 100%;
        margin-left: -100%;
        transition: all .4s;
        z-index: 1;
    }

    #menupaginas{
    width: 71%;
    }
    #btngrafico2 {
        width: 23.9%;
    }
    
    .titulo{
        font-size: 80%;
    }
    
    .btnimg {
    width: 30px;

    }
    
    #btnimg2 {
    width: 35px;
    }

    #graficos{
       padding-top: 100px;
       display: flex;
       width: 100%;
       height: 1000px;
       flex-wrap: wrap;
       margin:0;
       z-index: -1;
       /* background-color: green; */

    }
    .cards{
    width: 350px;
    margin-top: 20px;

    }
    #logo {
       display: none;
   }
    #logo2{
       display: block;
       width: 30%;
   }
    .menu ul li {
        height: 100%;
        width: 100%;
        float: none;
   }
    .menu ul ul {
        position: absolute;
        overflow: hidden;
        max-height: 0;
        transition: all .8s;
   }
    .menu ul li:hover ul {
        height: auto;
        max-height: 200px;
   }

   .graficoindv{
    margin-top: 20px;
   }
}

/* SIDEBAR RESPONSIVO FINAL */
